$font-dir: '../fonts/Inter-roman.woff2';

@font-face {
    font-family: 'Inter custom';
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url($font-dir) format('woff2 supports variations(gvar)'), url($font-dir) format('woff2-variations'),
        url($font-dir) format('woff2');
}
